@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hidden {
    display: none;
}

div#skipLink {
  a {
  position: absolute;
  color: #fff;
  top: -40px;
  left: 0;
  background-color: none;
  z-index: 100;
  padding: 8px;
  transition: top 0.5s ease-out;        
  }
  a:focus {
    color: #ffa0a0;
    top: 0px;
  }
}

header {
    max-width: 100%;
    overflow: hidden;

    div#header-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    }
}

h1 {
    font-size: 1.5rem;
    color: $main-color;
    margin: 0;
    justify-self: flex-start;
}

button#menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: $main-color;

    @include responsive("small") {
        display: none;
    }
}

header nav {
        display: none;
        flex-basis: 100%;

        &.open {
        display: block;
    }

        @include responsive("small") {
            display: block;
            flex-basis: auto;
        }

        a {
            text-decoration: none;
            color: $main-color;
            font-size: 1.2rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            align-items: center;
            margin: 0;
            padding: 0;
            padding-top: 8px;

            li {
                margin: 8px;
                padding: 0 12px;
                text-decoration: none;
            }
        }

        @include responsive("small") {
            ul {
                flex-direction: row;
            }
        }
}
