@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

main {
    display: flex;
    flex-direction: column;
    color: $main-color;
    background-color: $background-color-2;
    padding: 16px;
    section{
        height: 150vh;
        
    }
} 