@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

div#projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $background-color-2;

    @include responsive("small") {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(clamp(200px, 20vw, 300px), 1fr));
        grid-auto-flow: dense;
        background-color: red;
        gap: 16px;
    }
    
}

div#projects div.project-card {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: clamp(8px, 1vw, 16px);
    padding: 12px;
    background-color: $background-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    @include responsive("small") {
        margin: 4px;
    }
    
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }

    h3 {
        margin-top: 12px;
        font-size: 1.2rem;
        color: $main-color;
    }
}